
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>

   
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/DataTables/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/Content/themes/base/jquery-ui.min.css" rel="stylesheet" />
    <style>
        span.field-validation-error {
            color: red;
        }
    </style>
</head>
<body>

    <div style="width:90%;margin:0 auto" class="tablecontainer">
        <a class="popup brn btn-primary" href="/home/save/0" style="margin-bottom:20px; margin-top:20px;"><i class="fa fa-envelope"></i> Dodaj novi kontakt</a>
        <table id="myPhonebase">
            <thead>
                <tr>
                    <th> Ime : </th>
                    <th> Prezime : </th>
                    <th> Adresa : </th>
                    <th> E-mail : </th>
                    <th> Tel Broj: </th>
                    <th> Vrsta tel broja : </th>
                    <th><i class="fa fa-envelope"></i> Edit</th>
                    <th><i class="fa fa-envelope"></i> Delite</th>
                </tr>
            </thead>
        </table>
    </div>

    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>
    <script>
        $(document).ready(function () {
            var Table_od_data = $('#myPhonebase').DataTable({
                "ajax": {
                    "url": '/home/GetContact',
                    "type": "get",
                    "datatype": "json",
                },
                "columns": [
                    { "data": "FirstName", "autoWidth": true },
                    { "data": "LastName", "autoWidth": true },
                    { "data": "AdressName", "autoWidth": true },
                    { "data": "E_mail", "autoWidth": true },
                    { "data": "Tel_broj", "autoWidth": true },
                    { "data": "Vrsta_tel_broja","autoWidth": true },
                    {
                    "data": "Korisnik_Id", "width": "50px", "render": function (data) {
                        return '<a class="popup" href="/home/save/' + data + '">Edit</a>';
                    }
                        },
                {
                    "data": "Korisnik_Id", "width": "50px", "render": function (data) {
                        return '<a class="popup" href="/home/delete/' + data + '">Delete</a>';
                    }
                }
                    ]
        })
        $('.tablecontainer').on('click', 'a.popup', function (e) {
            e.preventDefault();
            OpenPopup($(this).attr('href'));
        })
        function OpenPopup(pageUrl) {
            var $pageContent = $('<div/>');
            $pageContent.load(pageUrl, function () {
                $('#popupForm', $pageContent).removeData('validator');
                $('#popupForm', $pageContent).removeData('unobtrusiveValidation');
                $.validator.unobtrusive.parse('form');

            });

            $dialog = $('<div class="popupWindow" style="overflow:auto"></div>')
                .html($pageContent)
                .dialog({
                    draggable: false,
                    autoOpen: false,
                    resizable: false,
                    model: true,
                    title: 'Popup Dialog',
                    height: 550,
                    width: 600,
                    close: function () {
                        $dialog.dialog('destroy').remove();
                    }
                })

            $('.popupWindow').on('submit', '#popupForm', function (e) {
                var url = $('#popupForm')[0].action;
                $.ajax({
                    type: "POST",
                    url: url,
                    data: $('#popupForm').serialize(),
                    success: function (data) {
                        if (data.status) {
                            $dialog.dialog('close');
                            oTable.ajax.reload();
                        }
                    }
                })

                e.preventDefault();
            })
            $dialog.dialog('open');
        }
            })
           
    </script>

</body>
</html>
